.App {
  text-align: center;
}

.tib {
  font-size: 50px;
  color: #ffc75f;
}
.cls {
  font-size: 15px;
  font-style: italic;
  color: #b1aeae;
}
.gls {
  font-size: 20px;
  color: #fbf3e4;
  font-weigth: normal;
}
.syl {
    display:inline-grid;
    background: #423d3d;
    margin-left:1px;
}

.syl span {
    display: block;
}


