@font-face {
  font-family: 'Jomolhari';
  src: url('Jomolhari-alpha3c-0605331.ttf') format('truetype');
}
/* a {
  color: #b54e4e
} */
button:focus {outline:0;}
.App {
  text-align: center;
}
ul{
   list-style-type: none;
}
.tib {
  font-size: 50px;
  font-family: 'Jomolhari', sans-serif;
  font-style:normal;
  text-shadow: 1px 1px 3px #000000; 
  cursor: pointer;
  text-decoration: none
}
.highlight {
  color: #f7e8a9;
}
.syll {
  display:inline-block;
  background: rgba(255, 253, 254, 0.15);
  border-radius: 5px;
  margin-left:1px;
  padding-bottom: 10px;
}

.word {
    display:inline-grid;
    background: rgba(132, 62, 73, 0.5);
    margin-left:1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    height: 150px;
}

.word p {
    margin: 0;
    font-size: 15px;
}
p.grm, p.fun, .cls {
  font-size: 12px;
  font-style:normal;
  display: block;
  height: 18px;
}
.cls {
  font-style: italic;
  color: #ceb895;
}
.gls {
  font-size: 18px;
  font-weight: normal;
}
.dimm {
  color: #bfb2a1;
}

.word button {
  display:block;
  background: transparent;
  color: #000000;
  width: 100%;
  border-width: 0;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  background: #ecd19a;
  width: 100px;
  padding: 0
}
.translation {
  font-size: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #969595;
  margin-bottom: 3em;
}
.syllabes a{
  font-size: 50px;
  font-style:normal;
  color: #f7e8a9;
  text-shadow: 1px 1px 3px #000000;
  text-decoration: none;
}
.tip {
    position: absolute;
    background: #eae8e8;
    color: #000;
    border-radius: 5px;
    width: 60px;
    padding: 5px;
    font-size: 14px;
    margin-top: -80px;
    text-shadow: 1px 1px 1px #ffffff;
}
.tip p{
    padding: 8px;
}
.tip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #eae8e8 transparent transparent transparent;
      left: 20px;
}
.queryInput {
  font-size: 25px;
  padding: 12px;
  border: 14px solid #0a0a0a;
  background: #d6d3d3;
  margin: 2em;
  width: 60%;
}
.ex {
  font-weight: normal;
  color: #bdbdbd
}
.wy {
  font-style: italic;
}
.info {
  color: #adacac;
}
header, footer{
  background: #000000;
  clear: both;
  display: block;
}
header nav li{
  float: left;
  display:inline-block;
}
header nav a{
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}
main {
  clear: both;
  width: 100%;
  height: 50%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
footer{
  position:absolute;
  bottom: 0;
  width: 100%;
  color: #676767
}
.nextprev button {
  width: 60px;
  height: 60px;
  border-width: 6px;
  border-radius: 30px;
  border-color: #f9b25b;
  color:white;
  margin: 10px;
  background: rgba(228, 222, 207, 0.14);
}
.nextExam {

  display: inline-block;
  background: #b54e4e;
 font-size: 14px;
  padding: 14px;
  border-radius: 5px;
  border-width:0;
  margin-left: auto;
  margin-right: auto;
  color: #fff9ee;
  margin: 5px
}
.active {
  background: #b54e4e;
  color: white;
}
.notFound {
  color: #f58e01;
}
.search .tip {
  margin-top: -110px;
  height:110px;
  padding:0;
}
.wylie {
  font-size: 20px;
  font-style: italic;
}

.colorChooser {
  width: 2em;
  height: 2em;
  display: inline-block;
}

.code {
  width: 50em !important;
}

.exportBtn {
  font-size: 20px;
  color: white;
}

.sketch-picker {
  position: absolute;
  margin-left: 60%;
  z-index: 100;
}